<section id="skills">
  <div class="container">
    <div class="row justify-content-md-center">
      <div id="skillsContent" class="col-md-10 col-lg-9">
        <h2 class="text-center mb-3">Skills</h2>
        <div class="row text-center align-items-center py-3">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h4 class="mb-3 mt-4 mt-md-0">Technical skills</h4>
            <p>Bootstrap</p>
            <p>Sass</p>
            <p>Angular</p>
            <p>Django</p>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h4 class="mb-3">Certifications</h4>
            <p>PRINCE2<sup>®</sup> Foundation</p>
            <p>AgilePM<sup>®</sup> Foundation</p>
            <p>GPM-B<sup>®</sup></p>   
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h4 class="mb-3">Soft skills</h4>
            <p>Ambitious</p>
            <p>Resourceful</p>
            <p>Inquisitive</p>
            <p>Innovative</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>