#workExperience
  margin-top: 120px;
  .carousel
    width: 100%
    .carousel-inner
      padding-bottom: 45px
      @media (max-width: 575px)
        height: 500px
      .carousel-item
        margin: auto
        width: 98%
        height: 249px
        @media (max-width: 575px)
          height: 450px
        @media (min-width: 575px) and (max-width: 991px)
          height: 312px
    .carousel-control-prev
      width: 50px
      margin-left: -50px
      &-icon
        background-image: url('./../../../assets/img/prev_arrow.png')
      @media (max-width: 575px)
        display: none
    .carousel-control-next
      width: 50px
      margin-right: -45px
      &-icon
        background-image: url('./../../../assets/img/next_arrow.png')
      @media (max-width: 575px)
        display: none
    .carousel-indicators li
      background-color: rgba(134, 142, 150, 0.5)
      &.active
        background-color: rgb(134, 142, 150)
      