<section id="workExperience">
  <img id="eraser" class="d-none d-md-block" src="./../../../assets/img/eraser.png">
  <div class="container">
    <h2 class="text-center mb-3">Work Experience</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-10 col-lg-9">
        <div id="workExperienceCarousel" (swipeleft)="swipeNext()" (swiperight)="swipePrev()" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li  *ngFor="let experience of workExperiences; let first = first; let i = index" data-target="#carouselExampleIndicators" [ngClass]="{ active: first }" [attr.data-slide-to]="index"></li>
          </ol>
          <div class="carousel-inner">
            <div *ngFor="let experience of workExperiences; let first = first" [ngClass]="{ active: first }" class="carousel-item">
              <experience-card [experience]="experience"></experience-card>
            </div>
          </div>
          <a #prevButton class="carousel-control-prev" href="#workExperienceCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a #nextButton class="carousel-control-next" href="#workExperienceCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>