<nav class="navbar fixed-top navbar-expand-lg navbar-light" [@navbarStyle]="navbarStyle">
  <button #navbarButton class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarStyle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" scrollTo href="#profile" (click)="collapseNavbar()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" scrollTo href="#skills" (click)="collapseNavbar()">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" scrollTo href="#education" (click)="collapseNavbar()">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" scrollTo href="#workExperience" (click)="collapseNavbar()">Work experience</a>
      </li>
    </ul>
    <a class="btn btn-primary my-2 my-lg-2 ml-lg-3 mr-lg-4" scrollTo href="#contact" (click)="collapseNavbar()">Contact</a>
  </div>
</nav>

<home-section></home-section>

<profile-section></profile-section>

<skills-section></skills-section>

<education-section></education-section>

<work-experience-section></work-experience-section>

<contact-section></contact-section>