<section id="profile">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-10 col-lg-9">
        <img id="avatar" src="./../../../assets/img/avatar.gif">
        <div class="row" id="profile_content">
          <img id="rightHand" src="./../../../assets/img/right_hand.png">
          <img id="leftHand" src="./../../../assets/img/left_hand.png">
          <div class="p-5 text-center text-sm-left">
            <h2 class="mt-2 mb-3">Objective</h2>
            <p class="mb-xl-4">Whether commercial or technical, my professional experiences are all linked by a subject that deeply animates me: the user experience. My goal is to put the vast knowledge gained in this field at the service of an innovative company, by participating in the creation of ergonomic and profitable interfaces.</p>
            <a id="downloadButton" class="btn btn-primary my-3" href="./../../../assets/pdf/Alize_Debray_resume.pdf" download="Debray_Alize_Resume">
              Download my resume &nbsp; 
              <i class="material-icons">&#xE2C4;</i>
            </a>
            <!-- <div class="dropdown">
              <button id="downloadButton" class="btn btn-primary my-3 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download my resume &nbsp; 
                <i class="material-icons">&#xE2C4;</i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="./../../../assets/pdf/resume.pdf" download="Debray_Alize_Resume">Download in English</a>
                <a class="dropdown-item" href="./../../../assets/pdf/CV.pdf" download="Debray_Alize_CV">Download in French</a>
              </div>
            </div> -->
          </div>
          <!-- <div id="interests" class="col mx-5 mb-5 mt-lg-5 mr-lg-1 px-lg-5 text-center">
            <h2 class="mt-5 mt-lg-2 mb-3 text-sm-left text-lg-center">Interests</h2>
            <div class="row">
              <div class="col-sm-4 col-lg-12">
                <img class="interest" src="./../../../assets/img/health.png">
                <p>Health</p>
              </div>
              <div class="col-sm-4 col-lg-12">
                <img class="interest" src="./../../../assets/img/sustainability.png">
                <p>Sustainability</p>
              </div>
              <div class="col-sm-4 col-lg-12">
                <img class="interest" src="./../../../assets/img/crafts.png">
                <p>Crafts</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>