<section id="profile">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-10 col-lg-9">
        <img id="avatar" src="./../../../assets/img/avatar.gif">
        <div class="row" id="profile_content">
          <img id="rightHand" src="./../../../assets/img/right_hand.png">
          <img id="leftHand" src="./../../../assets/img/left_hand.png">
          <div class="col-lg-7 col-xl-8 p-5  pr-lg-3 text-center text-sm-left">
            <h2 class="mt-2 mb-3">Profile</h2>
            <p class="mb-xl-4">Since my earliest childhood, I have always been passionate about the amazing capacities of the human body. Therefore, it is nothing but natural for me to pursue my career in the health sector. Furthermore, by studying to obtain my double degree, I realised that both management and engineering were important to me. This is why I trust that a dream job would be to manage a health-related project involving some very technical aspects such as innovative web technologies or complex mechanical modelling.</p>
            <div class="dropdown">
              <button id="downloadButton" class="btn btn-primary my-3 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download my resume &nbsp; 
                <i class="material-icons">&#xE2C4;</i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="./../../../assets/pdf/resume.pdf" download="Debray_Alize_Resume">Download in English</a>
                <a class="dropdown-item" href="./../../../assets/pdf/CV.pdf" download="Debray_Alize_CV">Download in French</a>
              </div>
            </div>
          </div>
          <div id="interests" class="col mx-5 mb-5 mt-lg-5 mr-lg-1 px-lg-5 text-center">
            <h2 class="mt-5 mt-lg-2 mb-3 text-sm-left text-lg-center">Interests</h2>
            <div class="row">
              <div class="col-sm-4 col-lg-12">
                <img class="interest" src="./../../../assets/img/health.png">
                <p>Health</p>
              </div>
              <div class="col-sm-4 col-lg-12">
                <img class="interest" src="./../../../assets/img/sustainability.png">
                <p>Sustainability</p>
              </div>
              <div class="col-sm-4 col-lg-12">
                <img class="interest" src="./../../../assets/img/crafts.png">
                <p>Crafts</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>