#contact
  #banner
    color: #fff
    background-image: url('./../../../assets/img/footer-background.png')
    background-size: 10%
    background-position: center bottom
    position: relative
    padding-bottom: 44px
    img
      height: 25px
      margin-left: -21.5px
      position: absolute
      bottom: -25px
      left: 50%
      z-index: 10
  agm-map
    height: 352px
    width: 100%
    .agm-info-window-content
      color: #000
  label
    font-size: 0.8rem