<section id="contact">
  <div id="banner" class="pt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 text-center">
          <h2 class="mb-3">Contact me</h2>
          <p>Whether you have any enquiry or you simply want to say hello, do not hesitate to send me a message. I would be more than happy to answer you back!</p>
        </div>
      </div>
    </div>
    <img src="./../../../assets/img/contact-arrow.png">
  </div>
  <div id="mapContainer">
    <agm-map 
      [latitude]="map.latitude" 
      [longitude]="map.longitude" 
      [styles]="map.styles" 
      [zoom]="map.zoom"
      [streetViewControl]="map.streetViewControl"
      [scrollwheel]="map.scrollwheel"
      [zoomControlOptions]="map.zoomControlOptions">
      <agm-info-window 
        [latitude]="marker.latitude" 
        [longitude]="marker.longitude" 
        [isOpen]="marker.isOpen">
        <div class='agm-info-window-content text-center'>
          <h5 class="mb-1">Alizé Debray</h5>
          <p>Lille, FRANCE</p>
          <a class="contact-mean" href="tel:+33676670504"><i class="material-icons">&#xE0CD;</i></a>
          <a class="contact-mean" href="skype:alizedebray?userinfo"><i class="fa fa-2x fa-skype" aria-hidden="true"></i></a>
          <a class="contact-mean" href="https://www.linkedin.com/in/alizedebray" target="_blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
          <a class="contact-mean" href="https://github.com/alizedebray" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
        </div>
      </agm-info-window>
    </agm-map>
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 col-xl-5 py-5 pl-lg-5 pr-lg-0 pl-xl-0 pr-xl-5">
        <form [formGroup]="contactForm" method="POST" action="https://formspree.io/contact@alizedebray.com" onsubmit="this.submit()">
          <div class="form-group mb-4">
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name">
            <small *ngIf="(formSubmitted || contactForm.get('name').dirty) && contactForm.get('name').invalid" class="help-text pl-1 text-danger">Name is required.</small>
          </div>
          <div class="form-group mb-4">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email address">
            <span *ngIf="(formSubmitted || contactForm.get('email').dirty) && contactForm.get('email').invalid" class="help-text pl-1 text-danger">
              <small *ngIf="contactForm.get('email').errors.required">Email is required.</small>
              <small *ngIf="contactForm.get('email').touched && !contactForm.get('email').errors.required && contactForm.get('email').errors.email">Email is not valid.</small>
            </span>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="company" formControlName="company" placeholder="Company &nbsp;(optional)">
          </div>
          <div class="form-group mb-0">
            <textarea #message class="form-control" rows="4" name="message" formControlName="message" maxlength="2000" placeholder="Message"></textarea>
            <small *ngIf="(formSubmitted || contactForm.get('message').dirty) && contactForm.get('message').invalid" class="help-text pl-1 text-danger">Message is required.</small>
            <p class="form-text text-right text-muted pr-1 my-0"><small>{{message.value.length}} / 2000</small></p>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" (click)="verifyForm($event)">Send &nbsp; <i class="material-icons">&#xE163;</i></button>
        </form>
      </div>
    </div>
  </div>
</section>